body {
    background: url(dota2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
/* all h3 elements */
h3 {
  color: #FF4500;
  text-align: center;
}
/* all h2 elements */
h2 {
  color: #e600ac;
  text-align: center;
}
/* all h4 elements */
h4 {
  color: #DC143C;
  text-align: center;
}
/* all p AND h1 elements */
p, h1 {
  color: #00FFFF;
  text-align: center;
}